
#admin-panel {
  overflow: hidden;
  position: relative;
  > md-content {
    z-index: 3;
  }
}

.admin-sidebar-left {
  overflow-x:hidden;
  img {
    height:150px;
  }
  md-content {
    height: 100%;
    overflow-x:hidden;
  }
  &.md-locked-open{
    &.admin-sidebar-collapsed {
      min-width: 48px;
      max-width: 48px;
      transition: all .3s;
      img{
        height:64px;
        transition: all .3s;
      }
      &.hover{
        img {
          height:300px
        }
        min-width: 260px;
        max-width: 260px;
      }
    }
  }
}
